<div class="card shadow-sm p-3">
  <h5>Edit Quiz</h5>

  <div class="mb-3">
    <label>Title</label>

    <input class="form-control" [(ngModel)]="title" />
  </div>

  <div class="mb-3">
    <label>Quiz Type</label>

    <select class="form-select" [(ngModel)]="type">
      <option [value]="0">Practice</option>

      <option [value]="1">Final</option>
    </select>
  </div>

  <div class="row">
    <div class="col">
      <label>Time</label>

      <input type="number" class="form-control" [(ngModel)]="timeLimitMin" />
    </div>

    <div class="col">
      <label>Passing</label>

      <input type="number" class="form-control" [(ngModel)]="passingScore" />
    </div>
  </div>

  <button class="btn btn-success mt-3 w-100" (click)="save()">Save</button>
</div>
