<div class="d-none d-lg-flex flex-column vh-100 position-fixed end-0 top-0"
  style="width: 240px; z-index: 1000; background-color: var(--primary-hover);">
  <div class="p-3 border-bottom-side text-center" style="background-color: var(--bg);">
    <div class="d-flex flex-column align-items-center gap-2">
      <app-avatar [border]=true [size]=70 src="{{studentImage()}}">
      </app-avatar>
      <div>
        <div class="text-white fw-semibold">{{user()?.fullName}}</div>
        <span class="text-white-50">Admin Account</span>
        <div class="text-white-50" style="font-size: 12px;">{{user()?.email}}</div>
      </div>
    </div>
  </div>

  <nav class="flex-grow-1 p-3">
    <div class="d-flex flex-column gap-2">
      <a routerLink="teaching-requests" (click)="setActiveRoute('teaching-requests')"
        [class.green-anchor]="isActive('teaching-requests')" [class.grey-anchor]="!isActive('teaching-requests')"
        class="d-flex align-items-center gap-3 px-3 py-2 rounded-3 text-decoration-none">
        <i class="bi bi-grid-1x2-fill"></i> طلبات الانضمام
      </a>

      <a routerLink="courses-review" (click)="setActiveRoute('courses-review')"
        [class.green-anchor]="isActive('courses-review')" [class.grey-anchor]="!isActive('courses-review')"
        class="d-flex align-items-center gap-3 px-3 py-2 rounded-3 text-decoration-none">
        <i class="bi bi-book"></i> مراجعة الدورات
      </a>

      <a routerLink="bookings" (click)="setActiveRoute('bookings')" [class.green-anchor]="isActive('bookings')"
        [class.grey-anchor]="!isActive('bookings')"
        class="d-flex align-items-center gap-3 px-3 py-2 rounded-3 text-decoration-none">
        <i class="bi bi-calendar-check"></i> إدارة الحجوزات
      </a>

      <a routerLink="withdrawals" (click)="setActiveRoute('withdrawals')" [class.green-anchor]="isActive('withdrawals')"
        [class.grey-anchor]="!isActive('withdrawals')"
        class="d-flex align-items-center gap-3 px-3 py-2 rounded-3 text-decoration-none">
        <i class="bi bi-cash-stack"></i> إدارة السحوبات
      </a>

    </div>
  </nav>

  <div class="p-3 border-top-side">
    <a href="#" class="d-flex align-items-center gap-3 px-3 py-2 rounded-3 grey-anchor text-decoration-none">
      Help & Support
    </a>
    <a (click)="logout()" class="d-flex align-items-center gap-3 px-3 py-2 rounded-3 grey-anchor text-decoration-none">
      <i class="bi bi-box-arrow-left"></i> تسجيل خروج
    </a>
  </div>
</div>