<a [routerLink]="['.', course.courseID]">
    <div class="course-card">

        <!-- Image -->
        <div class="card-image-wrapper">

            <img [src]="course.thumbnailURL" [alt]="course.title" class="course-thumb" />

            @if(authService.IsAuthenticated()){
            <!-- Wishlist -->
            <button class="wishlist-btn" [class.active]="isInWishlist()" (click)="toggleWishlist($event)"
                [disabled]="isToggling()" aria-label="أضف للمفضلة">
                <i class="bi" [class.bi-heart-fill]="isInWishlist()" [class.bi-heart]="!isInWishlist()"></i>
            </button>
            }
            <!-- Price -->
            <div class="price-badge">
                <span style="font-family: 'Arshid';">
                    {{ course.price === '٠' ? 'مجاني' : course.price + '$' }}
                </span>
            </div>

        </div>

        <!-- Content -->
        <div class="card-content">
            <div class="badges-row d-flex gap-2" style="margin-top:  -6px;">
                <span class="badge-item badge-blue">
                    {{ course.categoryName }}
                </span>

                <span class="badge-item badge-orange">
                    {{ course.level }}
                </span>
                @if(isNew()){
                <span class="badge-item badge-green">
                    جديد
                </span>
                }
            </div>
            <h3 class="course-card-title">
                {{ course.title }}
            </h3>

            <span class="course-duration">
                <i class="bi bi-clock"></i>
                {{ calculateLessonTime(course.durationSeconds) }}
            </span>


            <div class="instructor-row d-flex align-items-center gap-2">
                <span class="meta-icon">
                    <i class="bi bi-person"></i>
                </span>

                <span class="instructor-name">
                    {{ course.teacherName }}
                </span>
            </div>

            <div class="rating-row d-flex align-items-center gap-1">
                <i class="bi bi-star-fill rating-star"></i>

                <span class="rating-num me-1">
                    {{ course.rating }}
                </span>

                <span class="reviews-count text-muted small">
                    ({{ course.reviewsCount }} مراجعة)
                </span>
            </div>

        </div>

    </div>
</a>