<a
  class="course-card"
  /* [routerLink]="['/course-details', course.courseID]" */
  [routerLink]="['.', course.courseID]"

  /* [attr.aria-label]="'عرض تفاصيل دورة ' + course.title" */
  /* (click)="navigateToCourse()" */
>
  <div class="course-image-wrapper">
    <img
      class="course-image"
      [src]="course.thumbnailURL || 'images/card1.jfif'"
      [alt]="course.title"
      (error)="onImageError($event)"
    />
    @if(authService.IsAuthenticated()){
    <button
      class="wishlist-btn"
      [class.active]="isInWishlist()"
      (click)="toggleWishlist($event)"
      [disabled]="isToggling()"
      aria-label="أضف للمفضلة"
    >
      <i class="bi" [class.bi-heart-fill]="isInWishlist()" [class.bi-heart]="!isInWishlist()"></i>
    </button>
  }
  </div>

  <div class="course-content">
    <div class="course-badges">
      <span class="badge category-badge">
        {{ course.categoryName }}
      </span>

      <span class="badge level-badge">
        {{ levelLabel }}
      </span>
    </div>

    <h3 class="course-title">{{ course.title }}</h3>

    <div class="course-meta">
      <div class="teacher-row">
        <i class="bi bi-person-fill" aria-hidden="true"></i>
        <span>{{ course.teacherName }}</span>
      </div>

      <div class="duration-row">
        <i class="bi bi-clock" aria-hidden="true"></i>
        <span>{{ formattedDuration }}</span>
      </div>
    </div>
  </div>
</a>
