.dashboard {
  display: flex;
  min-height: 100vh;
  background: #f8f9fa;
}

.content {
  flex: 1;
  padding: 24px;
}

.page {
  margin-top: 30px;
}

@media (max-width: 992px) {
  .content {
    margin-inline-start: 0;
  }
}
