.navbarStyle {
    background-color: var(--primary);
    border-bottom:solid 1px var(--primary-light)

}

.toggler{
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-radius: 6px;
    width:40px;
    height: 36px;
    border-style: solid;
    border-color: color-mix(in oklab, var(--primary-light) , transparent) !important;
}



/* 
.btn-color {
    color: color-mix(in oklab, #fff 95%, transparent);
    background-color: #474747;
    backdrop-filter: blur(8px);
    border: 1px solid;
    border-color: color-mix(in oklab, #4a2620 15%, transparent);
    transition: all 0.3s ease;
}

.btn-color:hover {
    color: color-mix(in oklab, #fff 95%, transparent);
    border-color: #89e900;
} */

