@if (teacher(); as teacher) {
  <div class="card">
    <div class="avatar-wrapper">
      <img class="avatar" [src]="previewUrl ||teacher.profileImageURL || 'images/avatar.webp'" />

      <label class="camera">
        <span class="material-symbols-outlined"> photo_camera </span>

        <input hidden type="file" accept="image/*" (change)="onSelect($event)" />
      </label>
    </div>

    <h2>{{ teacher.fullName }}</h2>

    <p>{{ teacher.email }}</p>

    <div class="rating">
      ⭐ {{ teacher.rating }}

      ({{ teacher.ratingCount }})
    </div>

    @if (teacher.verifiedStatus) {
      <div class="verified">✔ مدرس معتمد</div>
    }
  </div>
}
