@if (opened()) {
  <div class="overlay" (click)="closeSidebar()"></div>
}

<div class="sidebar" [class.open]="opened()">
  <div class="logo">
    <img src="images/logo.png" alt="logo" />
  </div>

  <nav>
    @for (item of menu(); track item.route) {
      @if (item.route === '/teacher') {
        <a
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeSidebar()"
        >
          <span class="material-symbols-outlined">
            {{ item.icon }}
          </span>

          {{ item.title }}
        </a>
      } @else {
        <a [routerLink]="item.route" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }" (click)="closeSidebar()">
          <span class="material-symbols-outlined">
            {{ item.icon }}
          </span>
          {{ item.title }}
        </a>
      }
    }
  </nav>

  <button class="logout">
    <span class="material-symbols-outlined"> logout </span>

    تسجيل خروج
  </button>
</div>
