<nav class="navbar navbar-expand-lg" dir="rtl">
  <div class="container">
    <a class="navbar-brand" routerLink="/" (click)="closeMenu()">
      <img src="images/logo.png" alt="Furqan" />
    </a>

    <button class="navbar-toggler" type="button" aria-label="Toggle navigation" [attr.aria-expanded]="isMenuOpen"
      (click)="toggleMenu()">
      <i class="bi" [class.bi-x-lg]="isMenuOpen" [class.bi-list]="!isMenuOpen"> </i>
    </button>

    <div class="collapse navbar-collapse" [class.show]="isMenuOpen">
      <ul class="navbar-nav mx-auto mb-3 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeMenu()">
            الرئيسية
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/courses" routerLinkActive="active" (click)="closeMenu()">
            الدورات
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/categories" routerLinkActive="active" (click)="closeMenu()">
            التصنيفات
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/teachers" routerLinkActive="active" (click)="closeMenu()">
            المعلمون
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active" (click)="closeMenu()">
            من نحن
          </a>
        </li>
      </ul>

      <div class="navbar-actions">
        <!-- <a [hidden]="authService.isLoggedIn()" class="login-btn" routerLink="/login" (click)="closeMenu()"> تسجيل
          الدخول </a> -->
        <app-button (btnClick)="closeMenu()" pageLink="/login" variant="secondary" size="small">تسجيل
          الدخول
        </app-button>
        <app-button (btnClick)="closeMenu()" pageLink="/register" variant="secondary" size="small">إنشاء
          حساب
        </app-button>
        <!-- <a [hidden]="authService.isLoggedIn()" class="register-btn" routerLink="/register" (click)="closeMenu()"> إنشاء
          حساب </a> -->

        <!-- <app-button (btnClick)="logout()" [hidden]="!authService.isLoggedIn()" variant="secondary" size="small">تسجيل
          الخروج <i class="bi bi-box-arrow-left"></i>
        </app-button> -->
      </div>
    </div>
  </div>
</nav>