.background-image {
  background-size: contain;
  background-image: url('images/background_registration.webp');
}

.bg-cream {
  background-color: #f8f4ee;
}

.logo-brand {
  width: 200px;
}

.library-bg {
  background-size: cover;
  background-image: url('images/login.png');
}

.text-brown {
  color: #6d4c41;
}

input {
  border-radius: 50px !important;
  border-color: #5d4037;
  padding: 10px 20px;
}

.custom-input-group .form-control:focus {
  border-color: #af8779;
  box-shadow: none;
}

.form-control::placeholder {
  text-align: right;
  font-size: 0.9rem;
  color: #aaa;
}

.btn-brown,
.btn-brown:focus,
.btn-brown:active,
.btn-brown:focus:active {
  background: #6d4c41 !important;
  border-color: #6d4c41;
  border-radius: 50px !important;
}

.btn-brown:hover {
  background: #5d4037 !important;
  border-color: #5d4037 !important;
}

.btn-link.text-brown:hover {
  color: #5d4037 !important;
}

.bi {
  top: calc(50% - 11px);
  left: 13px;
}

.custom-large-card {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.custom-large-card .row {
  min-height: 620px;
}

.inner-content {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
