:host {
  /* نظام الألوان الخاص بالتصميم */
  --color-primary-container: #064e3b;
  --color-primary: #003527;
  --color-secondary: #4c6359;
  --color-surface-low: #f2f4f1;
  --color-primary-fixed: #b0f0d6;
  --bg-main: #fdfbf7;
}
.login-page {
  background-image: url('/images/background_registration.webp');
  background-repeat: repeat;
  height: 100vh;
  background-size: contain;
}
.login-container {
  background-color: var(--bg-main);
  direction: rtl;
}

.max-w-1000 {
  max-width: 1000px;
}
.form-wrapper {
  max-width: 400px;
}
.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.z-index-10 {
  z-index: 10;
}

.geometric-overlay {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0l5.878 18.09h19.022l-15.39 11.18 5.878 18.09-15.388-11.18-15.388 11.18 5.878-18.09-15.39-11.18h19.022z' fill='%23064e3b' fill-opacity='0.03' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.login-card {
  box-shadow: 0px 4px 20px rgba(6, 78, 59, 0.05);
  background-color: #ffffff;
}

.bg-primary-container {
  background-color: var(--color-primary-container);
}

.bg-image-placeholder {
  background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBbfGaleDobdSgIy0P_98ery0bbJVmqGj9W0-ZT7L0qwhugrK-Qws90zwxzOD7I-6vnGzs_p5Ho9NCqyyRjr-BBEjC3BDX-RoZ736DHu5ArYCJbpiW0BXGPUryevGh8mLTb9xsDr0XlFqeRFKYSQY1VubY-4napvV1wGirH0NHpJtuSXTZrFr-jTJnDNXTY4cVrTZjhfL-P13Yyxq2MxF2m70jnpuMSanJ02e30aUnYNuPxS9iqwgfQhUG1NDYQIXWWDCzSTXcrYrxh');
  background-size: cover;
  background-position: center;
}

.accent-line {
  height: 4px;
  width: 48px;
  background-color: var(--color-secondary);
}

.custom-input {
  background-color: var(--color-surface-low);
  border: 1px solid rgba(0, 53, 39, 0.05);
  transition: all 0.2s ease-in-out;
}

.custom-input:focus {
  background-color: #ffffff;
  border-color: var(--color-secondary);
  box-shadow: 0 0 0 1px var(--color-secondary);
}

.custom-checkbox:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-login {
  background-color: var(--color-primary-container);
  border: none;
  transition: all 0.2s;
}

.btn-login:hover {
  background-color: var(--color-primary);
  box-shadow: 0 4px 0 0 #fed65b;
}

.btn-login:active {
  transform: scale(0.98);
}

.btn-social {
  background-color: #e1e3e0;
  border: 1px solid rgba(0, 53, 39, 0.05);
}

.btn-social:hover {
  background-color: #eceeeb;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.right-side {
  background:
    linear-gradient(rgba(40, 112, 64, 0.45), rgba(9, 99, 32, 0.45)),
    url('/images/login-background.png') !important;
}
input:focus {
  box-shadow: none !important;
  outline: none;
}
