<div class="auth-wrapper">
  <div class="auth-card">
    <div class="row g-0">
      <div class="col-md-6 bg-pattern">
        <div class="text-center">
          <img src="images/start_logo.png" alt="منارة العلم" class="mb-5" style="width: 180px;" />

          <div class="icon-box">
            <i class="bi bi-envelope-at"></i>
          </div>

          <h2 class="fw-bold text-brown mb-3">تحقق من بريدك الإلكتروني</h2>
          <p class="text-muted mb-4" style="line-height: 1.8;">
            تم إرسال رابط التفعيل إلى بريدك الإلكتروني.
            <br>
            نحن بانتظارك لتنضم إلى رحلتك التعليمية في منارة العلم.
          </p>

          <button type="button" class="btn btn-premium w-100 mb-3" (click)="goToLogin()">
            العودة لتسجيل الدخول
          </button>

          <button [disabled]="resendingEmail()" type="button" class="btn btn-link text-brown fw-semibold" (click)="resendActivationEmail()">
            {{!resendingEmail() ? ' لم يصلك الرابط؟ إعادة إرسال' : 'يتم إرسال الرابط' }}
          </button>
          <div *ngIf="statusMessage" class="mt-3 text-center fw-bold"
     [ngClass]="statusMessage.includes('بنجاح') ? 'text-success' : 'text-danger'">
  {{ statusMessage }}
</div>

        </div>
      </div>

      <div class="col-md-6 img-side d-none d-md-block"></div>
    </div>
  </div>
</div>
