.header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 30px;

background:white;

border-radius:18px;

gap:20px;

}

.header-left{

display:flex;

align-items:center;

gap:18px;

}

.menu-btn{

display:none;

width:45px;

height:45px;

border:none;

background:#F3F6FF;

border-radius:12px;

cursor:pointer;

}

.menu-btn span{

font-size:28px;

}

.header-actions{

display:flex;

align-items:center;

gap:20px;

}

.notification{

width:46px;

height:46px;

border:none;

border-radius:50%;

background:#F4F5F9;

cursor:pointer;

}

.teacher-info{

display:flex;

align-items:center;

gap:12px;

}

.teacher-info img{

width:48px;

height:48px;

border-radius:50%;

object-fit:cover;

}

@media(max-width:992px){

.menu-btn{

display:flex;

justify-content:center;

align-items:center;

}

.header{

padding:16px;

}

}

@media(max-width:768px){

.header{

flex-wrap:wrap;

}

.header-actions{

width:100%;

justify-content:space-between;

}

}