<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Course Builder</h2>

    <div class="d-flex gap-2">
      <button class="btn btn-outline-warning" (click)="toggleEditCourse()">
        @if (showEditCourse()) { إغلاق التعديل } @else { تعديل بيانات الكورس }
      </button>
      <button class="btn btn-primary" (click)="toggleAddModule()">Add Module</button>
    </div>
  </div>

  @if (showEditCourse()) {
  <app-edit-course-form [courseId]="courseId" (close)="toggleEditCourse()"
    (saved)="toggleEditCourse()"></app-edit-course-form>
  }

  @if (showAddModule()) {
  <app-add-module-dialog [courseId]="courseId" (saved)="loadModules(); toggleAddModule()">
  </app-add-module-dialog>
  }

  @for (module of modules(); track module.moduleID) {
  <app-module-card [module]="module" [courseId]="courseId" (refresh)="loadModules()">
  </app-module-card>
  }
</div>