<div class="offcanvas offcanvas-start bg-grey-dark" tabindex="-1" id="studentMobileSidebar"
    style="width: 260px; background-color: var(--primary-hover);">
    <a data-bs-dismiss="offcanvas"> <i class="bi bi-x-lg exit" style=" color: var(--primary-light);"></i>
    </a>
    <div class="p-3 border-bottom-side text-center">

        <div class="d-flex flex-column align-items-center gap-2">
            <app-avatar [border]=true [size]=70 src="{{studentImage()}}">
            </app-avatar>
            <div>
                <div class="text-white fw-semibold">{{user()?.fullName}}</div>
                <div class="text-white-50" style="font-size: 12px;">{{user()?.email}}</div>
            </div>
        </div>
    </div>

    <div class="offcanvas-body p-0 d-flex flex-column bg-grey-dark">
        <nav class="flex-grow-1 p-3">
            <div class="d-flex flex-column gap-2">
                <a routerLink="home" (click)="setActiveRoute('home')"
                    [class.secondary-white-anchor]="isActive('home')" [class.white-anchor]="!isActive('home')"
                    class="d-flex align-items-center gap-3 px-3 py-2 rounded-3 text-decoration-none"
                    data-bs-dismiss="offcanvas">
                    <i class="bi bi-grid-1x2-fill"></i> الرئيسية
                </a>

                <a routerLink="my-courses" (click)="setActiveRoute('my-courses')"
                    [class.secondary-white-anchor]="isActive('my-courses')"
                    [class.white-anchor]="!isActive('my-courses')"
                    class="d-flex align-items-center gap-3 px-3 py-2 rounded-3 text-decoration-none"
                    data-bs-dismiss="offcanvas">
                    <i class="bi bi-book"></i> دوراتي
                </a>

                <a routerLink="learning-circles" (click)="setActiveRoute('learning-circles')"
                    [class.secondary-white-anchor]="isActive('learning-circles')"
                    [class.white-anchor]="!isActive('learning-circles')"
                    class="d-flex align-items-center gap-3 px-3 py-2 rounded-3 text-decoration-none"
                    data-bs-dismiss="offcanvas">
                    <!-- <i class="bi bi-people"></i>  -->
                    <i class="bi bi-bounding-box-circles"></i>
                    حلقات العلم
                </a>

                <a routerLink="teachers" (click)="setActiveRoute('teachers')"
                    [class.secondary-white-anchor]="isActive('teachers')" [class.white-anchor]="!isActive('teachers')"
                    class="d-flex align-items-center gap-3 px-3 py-2 rounded-3 text-decoration-none"
                    data-bs-dismiss="offcanvas">
                    <span class="material-symbols-outlined">
                        groups
                    </span>
                    المعلمون
                </a>

                <a routerLink="courses" (click)="setActiveRoute('courses')"
                    [class.secondary-white-anchor]="isActive('courses')" [class.white-anchor]="!isActive('courses')"
                    class="d-flex align-items-center gap-3 px-3 py-2 rounded-3 text-decoration-none"
                    data-bs-dismiss="offcanvas">
                    <!-- <i class="bi bi-journal-bookmark-fill"></i> -->
                    <i class="bi bi-collection-play"></i>
                    الدورات
                </a>

                <a routerLink="wishlist" (click)="setActiveRoute('wishlist')"
                    [class.secondary-white-anchor]="isActive('wishlist')" [class.white-anchor]="!isActive('wishlist')"
                    class="d-flex align-items-center gap-3 px-3 py-2 rounded-3 text-decoration-none">
                    <i class="bi bi-heart"></i>
                    مفضلتي
                </a>

                <a routerLink="settings" (click)="setActiveRoute('settings')"
                    [class.secondary-white-anchor]="isActive('settings')" [class.white-anchor]="!isActive('settings')"
                    class="d-flex align-items-center gap-3 px-3 py-2 rounded-3 text-decoration-none"
                    data-bs-dismiss="offcanvas">
                    <i class="bi bi-person-gear"></i> إدارة حسابك
                </a>

                @if(user()?.role == 'Teacher'){
                <a routerLink="/teacher" (click)="setActiveRoute('teacher')" [class.white-anchor]="!isActive('teacher')"
                    class="d-flex align-items-center gap-3 px-3 py-2 rounded-3 text-decoration-none">
                    <i class="fa fa-person-chalkboard"></i> اذهب الي لوحة المعلم
                </a>
                }
            </div>
        </nav>

        <div class="p-3 border-top-side">
            <a href="#" class="d-flex align-items-center gap-3 px-3 py-2 rounded-3 white-anchor text-decoration-none">
                Help & Support
            </a>
            <a (click)="logout()"
                class="d-flex align-items-center gap-3 px-3 py-2 rounded-3 white-anchor text-decoration-none">
                <i class="bi bi-box-arrow-left"></i> تسجيل خروج
            </a>
        </div>
    </div>
</div>