<section class="quick-actions">
  <h2>الإجراءات السريعة</h2>

  <div class="actions">
    <button (click)="goToCreateCourse()">
      <span class="material-symbols-outlined"> add </span>

      إنشاء دورة
    </button>

    <button (click)="goToCourses()">
      <span class="material-symbols-outlined"> menu_book </span>

      دوراتي
    </button>

    <button (click)="goToStudents()">
      <span class="material-symbols-outlined"> groups </span>

      الطلاب
    </button>

    <button (click)="goToProfile()">
      <span class="material-symbols-outlined"> person </span>

      الملف الشخصي
    </button>

    <button (click)="goToCircles()">
      <span class="material-symbols-outlined"> forum </span>

      حلقات العلم
    </button>
  </div>
</section>
